<%= render 'subnav' %>

<h1>Jobvite</h1>
<strong><%= @jobvite_imports_presenter.errors %></strong>

<% if @jobvite_imports_presenter.imported_candidates.blank? %>
  <strong><%= t(".empty_successful_imports") %></strong>
<% else %>
  <strong><%= t(".imported_successfully") %></strong>
  <table>
    <thead>
      <tr>
        <th><%= t(".employee_title") %></th>
        <th><%= t(".key_title") %></th>
        <th><%= t(".contact_number_title") %></th>
        <th><%= t(".email_address_title") %></th>
      </tr>
    </thead>
    <tbody>
      <% @jobvite_imports_presenter.imported_candidates.each do |candidate| %>
        <tr>
          <td>
            <%= candidate.name %>
          </td>
          <td>
            <%= candidate.e_id %>
          </td>
          <td>
            <%= candidate.contact_number %>
          </td>
          <td>
            <%= candidate.email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<hr />
<% if @jobvite_imports_presenter.not_imported_candidates.present? %>
  <strong><%= t(".not_imported_successfully") %></strong>
  <table>
    <thead>
      <tr>
        <th><%= t(".employee_title") %></th>
        <th><%= t(".key_title") %></th>
        <th><%= t(".contact_number_title") %></th>
        <th><%= t(".email_address_title") %></th>
        <th><%= t(".reason") %></th>
      </tr>
    </thead>
    <tbody>
      <% @jobvite_imports_presenter.not_imported_candidates.each do |candidate| %>
        <tr>
          <td>
            <%= candidate.name %>
          </td>
          <td>
            <%= candidate.e_id %>
          </td>
          <td>
            <%= candidate.contact_number %>
          </td>
          <td>
            <%= candidate.email %>
          </td>
          <td>
            <%= candidate.error %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
