<%= render 'subnav' %>

<% if @jobvite_imports_presenter.imported_candidates.empty? %>
  <strong><%= t(".title_unsuccessful") %></strong>
<% else %>
  <h1>Jobvite: Successfully Imported Candidates</h1>
  <strong><%= t(".title_successful") %></strong>
  <table>
    <thead>
      <tr>
        <th><%= t(".employee_title") %></th>
        <th><%= t(".key_title") %></th>
        <th><%= t(".contact_number_title") %></th>
        <th><%= t(".email_address_title") %></th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
        <tr>
          <td>
            <%= candidate.name %>
          </td>
          <td>
            <%= candidate.e_id %>
          </td>
          <td>
            <%= candidate.contact_number %>
          </td>
          <td>
            <%= candidate.email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
