<article class="connection greenhouse-account">
  <% if connection.connected? %>
    <h3>
      <%= fa_icon "check-circle", class: "connected", text: connection.readable_name %>
    </h3>
    <p>
      <%= t("greenhouse_connections.description.connected_html") %>
    </p>
    <% if connection.missing_namely_field? %>
      <%= t("dashboards.show.missing_namely_field", name: connection.required_namely_field) %>
    <% end %>

    <% if connection.found_namely_field? %>
      <%= greenhouse_candidate_imports_url(connection.secret_key) %>
    <% end %>
    <%= render "disconnect_button", path: destroy_connections_path(:greenhouse_connection) %>
  <% else %>
    <%= link_to edit_connections_path(:greenhouse_connection), class: "-n-btn -n-btn-sm connect" do %>
      <%= fa_icon "plug", text: t("dashboards.show.connect") %>
    <% end %>
    <h3>
      <%= fa_icon "minus-circle", class: "disconnected", text: connection.readable_name%>
    </h3>
    <p>
      <%= t("greenhouse_connections.description.disconnected_html") %>
    </p>
  <% end %>
</article>
