<%= render "subnav" %>

<section id="subheader">
  <h1><%= t(".title") %></h2>
  <p><%= t(".slogan") %></p>
</section>

<section>
  <%= simple_form_for(
    @connection_form,
    as: :jobvite_connection,
    url: connections_url(:jobvite_connection),
    method: :put,
    html: { class: "stacked" }
  ) do |f| %>
    <div class="form-row">
      <%= f.input :api_key, input_html: {class: 'half'} %>
    </div>
    <div class="form-row">
      <%= f.input :secret, input_html: {class: 'half'} %>
    </div>
    <div class="-n-actions">
      <%= button_tag(type: 'submit', class: '-n-btn') do %>
        <%= fa_icon "plug", text: t("dashboards.show.connect") %>
      <% end %>
    </div>
  <% end %>
</section>
