<%= render 'subnav' %>

<h1>Jobvite</h1>
<% if @imported_profiles.empty? %>
  <strong><%= t(".title_unsuccessful") %></strong>
<% else %>
  <strong><%= t(".title_successful") %></strong>
  <table>
    <thead>
      <tr>
        <th><%= t(".employee_title") %></th>
        <th><%= t(".key_title") %></th>
        <th><%= t(".contact_number_title") %></th>
        <th><%= t(".email_address_title") %></th>
      </tr>
    </thead>
    <tbody>
      <% @imported_profiles.each do |profile| %>
        <tr>
          <td>
            <%= profile.name %>
          </td>
          <td>
            <%= profile.email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
