<% if connection.enabled? %>
  <article class="connection net-suite-account">
    <% if connection.connected? %>
      <h3>
        <%= fa_icon "check-circle", class: "connected", text: connection.readable_name %>
      </h3>
      <p>
        <%= t("net_suite_connections.description.connected") %>
      </p>

      <% if connection.missing_namely_field? %>
        <%= t(
          "dashboards.show.missing_namely_field",
          name: connection.required_namely_field
        ) %>
      <% end %>

      <% if connection.found_namely_field? %>
        <%= button_to t("dashboards.show.export_now"), polymorphic_path([connection.namespace, :exports]), class: "-n-btn" %>
      <% end %>
      <%= render "disconnect_button", path: destroy_connections_path(:net_suite_connection) %>
    <% else %>
      <%= link_to edit_connections_path(:net_suite_connection), class: "-n-btn -n-btn-sm" do %>
        <%= fa_icon "plug", text: t("dashboards.show.connect") %>
      <% end %>
      <h3>
        <%= fa_icon "minus-circle", class: "disconnected", text: connection.readable_name%>
      </h3>
      <p>
        <%= t("net_suite_connections.description.disconnected") %>
      </p>
    <% end %>
  </article>
<% end %>
