<h3>
  <%= fa_icon(
    "check-circle",
    class: "connected",
    text: t("#{connection.integration_id}.name")
  ) %>
</h3>

<p>
  <%= t("#{connection.integration_id}_connections.description.connected_html") %>
</p>

<% if connection.missing_namely_field? %>
  <%= t(
    "dashboards.show.missing_namely_field",
    name: connection.required_namely_field
  ) %>
<% end %>

<% if connection.found_namely_field? %>
  <%= render(
    "#{connection.integration_id}_connections/connected",
    connection: connection
  ) %>
<% end %>

<%= render "edit_actions", connection: connection %>
<%= render "disconnect_button", connection: connection %>
