<div class="connection-header">
  <%= button_to(
    integration_connection_path(connection.integration_id),
    class: "-n-btn -n-btn-sm -n-btn-danger -n-btn-link",
    method: :delete,
    rel: "nofollow"
  ) do %>
    <%= fa_icon "times" %>
    <%= t("dashboards.show.disconnect") %>
  <% end %>

  <h3>
    <%= fa_icon(
      "check-circle",
      class: "connected",
      text: t("#{connection.integration_id}.name")
    ) %>
  </h3>
</div>

<div class="connection-body">
  <p>
    <%= t(
      "description.connected_html",
      scope: "#{connection.integration_id}_connections"
    ) %>
  </p>

  <% if connection.missing_namely_field? %>
    <p>
      <%= t(
        "dashboards.show.missing_namely_field",
        name: connection.required_namely_field
      ) %>
    </p>
  <% end %>

  <%= render "edit_actions", connection: connection %>
</div>
