<%= render "subheader" %>
<section>
  <table>
    <tbody>
      <tr class="connection-jobvite">
        <% if @jobvite_connection.connected? %>
          <td>
            <%= fa_icon "check-circle", class: "connected", text: "Jobvite" %>
            <p><%= @jobvite_connection.api_key %></p>
          </td>
          <% if @jobvite_connection.missing_namely_field? %>
            <td>
              <%= t(".missing_namely_field", name: @jobvite_connection.required_namely_field) %>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <td>
            <%= button_to t("dashboards.show.import_now"), jobvite_imports_path, class: '-n-btn' %>
          </td>
          <td>
            <a href="<%= url_for(jobvite_connection_path) %>" class="-n-btn -n-btn-sm -n-btn-danger -n-btn-link" data-method="delete" rel="nofollow">
              <%= fa_icon "times" %>
              <%= t("dashboards.show.disconnect") %>
            </a>
          </td>
        <% else %>
          <td>
            <%= fa_icon "minus-circle", class: "disconnected", text: "Jobvite" %>
          </td>
          <td></td>
          <td></td>
          <td>
            <a href="<%= url_for(edit_jobvite_connection_path) %>" class="-n-btn -n-btn-sm">
              <%= fa_icon "plug", text: t("dashboards.show.connect") %>
            </a>
          </td>
        <% end %>
      </tr>
      <tr class="connection-hipchat">
        <% if current_user.hipchat_connection.connected? %>
          <td>
            <%= fa_icon "check-circle", class: "connected", text: "Hipchat" %>
          </td>
          <td></td>
          <td>
          </td>
          <td>
            <a href="<%= url_for(hipchat_connection_path) %>" class="-n-btn -n-btn-sm -n-btn-danger -n-btn-link" data-method="delete" rel="nofollow">
              <%= fa_icon "times" %>
              <%= t("dashboards.show.disconnect") %>
            </a>
          </td>
        <% else %>
          <td>
            <%= fa_icon "minus-circle", class: "disconnected", text: "Hipchat" %>
          </td>
          <td></td>
          <td></td>
          <td>
            <a href="<%= url_for(edit_hipchat_connection_path) %>" class="-n-btn -n-btn-sm">
              <%= fa_icon "plug", text: t("dashboards.show.connect") %>
            </a>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</section>
