<ul id="apps">
  <li>
    <h2>Jobvite</h2>
    <% if @jobvite_connection.connected? %>
      <% if @jobvite_connection.missing_namely_field? %>
        <p class="warning">
          <%= t(".missing_namely_field", name: @jobvite_connection.required_namely_field) %>
        </p>
      <% end %>
      <div class="actions">
        <%= link_to t("dashboards.show.edit"), edit_jobvite_connection_path, class: "button" %>
        <%= button_to t("dashboards.show.import_now"), jobvite_imports_path %>
        <%= button_to t("dashboards.show.disconnect"), jobvite_connection_path, method: :delete %>
      </div>
    <% else %>
      <div class="actions">
        <%= link_to t("dashboards.show.connect"), edit_jobvite_connection_path, class: "button" %>
      </div>
    <% end %>
  </li>
</ul>
