<%= simple_form_for @attribute_mapper, url: integration_mapping_path(integration_id) do |form| %>
  <%= form.error :base %>

  <table>
    <thead>
      <tr>
        <td><%= integration_name %> Field</td>
        <td>Namely Field</td>
      </tr>
    </thead>
    <tbody>
      <%= render(
        "form",
        field_mappings: @attribute_mapper.field_mappings.ordered,
        form: form,
        namely_fields: current_user.namely_fields_by_label
      ) %>
    </tbody>
  </table>

  <div class="-n-actions">
    <%= button_tag(type: 'submit', class: '-n-btn') do %>
      <%= t("attribute_mappings.edit.save") %>
    <% end %>
  </div>
<% end %>
