<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <header>
    <div class="inner">
      <h1><%= title %></h1>
      <% if logged_in? %>
        <div class="user">
          <%= button_to t("dashboards.show.sign_out"), session_path, method: :delete %>
        </div>
      <% end %>
    </div>
  </header>
  <section id="content">
    <%= render "flashes" -%>
    <%= yield %>
    <%= render "javascript" %>
  </section>
</body>
</html>
