<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="initial-scale=1" />
    <title><%= title %></title>
    <%= stylesheet_link_tag :application, media: "all" %>
    <link href="http://fonts.googleapis.com/css?family=Open Sans" rel='stylesheet' type="text/css">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class='layout-outer'>
      <div class="layout layout-split">
        <section>
          <div class="logo">
            <a href="<%= url_for(root_path) %>" id="logo">
              <div class="icon"></div>
            </a>
          </div>
        </section>

        <% if logged_in? %>
          <section>
            <%= link_to session_path, method: :delete, class: '-n-btn -n-btn-link -n-btn-sm -n-btn-secondary' do %>
              <%= fa_icon "sign-out" %><%= t("dashboards.show.sign_out") %>
            <% end %>
          </section>
        <% end %>
      </div>
    </header>

    <div class="layout layout-2b">
      <%= render "flashes" -%>
      <%= yield %>
      <%= render "javascript" %>
    </div>

  </body>
</html>
